input {
  border: 1px solid rgba(0, 0, 255, 0.3);
  padding: 8px;
  width: 300px;
}
.autocompleteInput {
  position: relative;
}
.autocomplete {
  position: absolute;
  width: 300px;
  left: 0;
  border: 1px solid rgba(0, 0, 255, 0.3);
  background-color: white;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 300px;
  overflow-y: auto;
  padding-left: 0;
}
.autocomplete li {
  padding: 10px;
}
.autocomplete > .active,
.autocomplete li:hover {
  background-color: rgba(0, 0, 255, 0.1);
  cursor: pointer;
  font-weight: 700;
}
.autocomplete li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
